{% extends "./base.html" %}
{% load static %}
<!--<a href="/">首页</a>-->
{% block style %}
<!--<link href="https://cdn.rawgit.com/google/code-prettify/master/loader/skins/desert.css" rel="stylesheet">-->
<link rel="stylesheet" href="{% static 'css/github.css' %}">
{% endblock %}

{% block content %}
<!--<h1>{{ post.title }}</h1>-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category' post.category.id %}">{{ post.category }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">正文</li>
    </ol>
</nav>
<div class="post-element">
    <div>
        <h3 class="post-element-title">
            {{ post.title }}
        </h3>
        <div>
            <nav class="nav">
                分类:<a class="nav-link post-element-nav" href="{% url 'category' post.category_id %}">{{ post.category }}</a>
                标签:<a class="nav-link post-element-nav" href="#">{% for tg in post.tag.all %} {{ tg.name }}{% endfor %}</a>
                作者:<a class="nav-link post-element-nav" href="#">{{ post.owner }}</a>
                创建时间:<a class="nav-link post-element-nav" href="#">{{ post.created_time }}</a>
            </nav>
        </div>
    </div>
    <article>
        {% autoescape off %}
            {{ post.html }}
        {% endautoescape %}
    </article>
    {% include 'comment/block.html' %}
</div>
{% endblock %}

<!--{% block javascript %}-->
<!--<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?"></script>-->
<!--<script>-->
    <!--window.onload = function(){-->
        <!--PR.prettyPrint();-->
    <!--}-->
<!--</script>-->
<!--{% endblock %}-->